<nav  class="navbar navbar-expand-lg" id="home-header">
   <div  class="container">
      <div  class="d-flex flex-grow-1 mobile_menu">
         <span  class="w-100 d-lg-none d-block"></span>
         <a  class="navbar-brand-two mx-auto  d-inline-block" [routerLink]="['/Home']">
          <img src="assets/images/logo.png" srcset="assets/images/logo@2x.png 2x,assets/images/logo@3x.png 3x" class="logo">
         </a>
         <div  class="w-100 text-right">
            <button  aria-controls="collapseExample" class="navbar-toggler" type="button" aria-expanded="false">
              <span  class="navbar-toggler-icon">
                <i  class="eva eva-menu-outline text-30 text-white"></i>
              </span>
            </button>
          </div>
      </div>
      <div  class="collapse navbar-collapse flex-grow-1 text-right" id="collapseExample">
         <ul  class="navbar-nav ml-auto flex-nowrap">
            <li  class="nav-item"><a  class="nav-link m-2 menu-item nav-active"  [routerLink]="['/Home']" scrollto="intro-wrap">Home</a></li>
            <li  class="nav-item"><a  class="nav-link m-2 menu-item nav-active"  [routerLink]="['/Vision']" scrollto="vision-wrap">Vision</a></li>
            <li  class="nav-item"><a  class="nav-link m-2 menu-item" [routerLink]="['/Products']" scrollto="products-wrap">Products</a></li>
            <li  class="nav-item"><a  class="nav-link m-2 menu-item" [routerLink]="['/Solutions']" scrollto="solutions-wrap">Solutions</a></li>
            <li  class="nav-item"><a  class="nav-link m-2 menu-item"  scrollto="contacts-wrap">Contact Us</a></li>
         </ul>
      </div>
   </div>
</nav>
