<div class="app-landing-wrap landing_wrap">
  <div id="landing_wrap">
    <div class="landing-gradient-blue">
      <!--=============== Header start ================-->
          <app-header></app-header>
      <!--=============== Header End ================-->

      <!-- ============ Main content start ============= -->
          <!-- intro-section -->
          <app-intro></app-intro>
          <!-- end::intro-section -->
          </div>

          <!-- Section-2 -->
            <app-section-info></app-section-info>
          <!-- Section-2 end-->

          <!-- Section-3 -->
            <app-section-img-left></app-section-img-left>
          <!-- Section-3 end-->

          <!-- Section-4 -->
            <app-section-img-right></app-section-img-right>
          <!-- Section-4 end-->

          <!-- Section-5 -->
            <app-section-bck-img></app-section-bck-img>
          <!-- Section-5 end-->

          <!-- Section-6 -->
            <app-product-complexity></app-product-complexity>
          <!-- Section-6 end-->

          <!-- Footer -->
            <app-footer></app-footer>
          <!-- Footer End-->


      <!-- ============ Main content End ============= -->

  </div>
</div>

