<section  class="sect-img-left p-t-b-150">
   <div  class="container">
      <h2 class="title">
         {{title}}
      </h2>
      <p class="subtitle">
         {{subtitle}}
      </p>
      <div class="row ">
         <div class="col-md-6">
            <div class="row bigbox">
               <div class="col-12">
                 <!-- <div class="head">
                     <img src="assets/images/gr-9.svg" class="img">
                  </div>  -->
                  <div class="para">
                    <div class="para1">
                     <span>Learning tools</span> designed around proven educational research to achieve engagement, memory improvements and outcomes at scale
                    </div>
                  </div>
               </div>
               <div class="col-12">
                 <!--
                   <div class="head">
                     <img src="assets/images/gr-4.svg" class="img">
                  </div>
                  -->
                  <div class="para">
                    <div class="para2">
                      <span>Relentless pursuit of data and AI</span>  to deliver deep insight and personalised education for each and every student in a way that pushes the boundary of human educators alone.
                    </div>
                  </div>
               </div>
               <div class="col-12">
                <!--  <div class="head">
                     <img src="assets/images/gr-11.svg" class="img">
                  </div>  -->
                  <div class="para">
                    <div class="para3">
                  <span> Unleash the power</span> of optimal time and resource management by fully automating menial tasks, perfect transparency and democratisation of the best resources across the system.
                  </div>
                  </div>
               </div>
            </div>
            </div>
            <div class="col-md-6">
               <div class="right-img">
                  <img src="assets/images/bg-img-4.jpg" class="img">
               </div>
            </div>

      </div>
   </div>
</section>
