
   <section  class="sect-img-left p-t-b-150 pb-0">

              <div  class="container">
                  <h2 class="title">
                    {{title}}
                   </h2>
                   <p class="subtitle">
                    {{subtitle}}
                   </p>

                  <div class="row bigbox">
                    <div class="col-md-6">
                      <div class="box">
                        <ul>
                          <li class="text-center">
                             <img src="assets/images/gr-1.svg" class="img">
                             <div class="title">Learning</div>
                          </li>
                          <li class="text-center">
                             <img src="assets/images/gr-10.svg" class="img">
                             <div class="title">Administration</div>
                          </li>
                          <li class="text-center">
                             <img src="assets/images/gr-8.svg" class="img">
                             <div class="title">Resources</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="head">Features</div>
                      <div class="para">Configurable for all needs, these features enable key activities from administration, content and teaching tools.</div>
                     </div>
                  </div>
                  <div class="row bigbox">
                    <div class="col-md-6">
                      <div class="box">
                        <ul>
                          <li class="text-center">
                             <img src="assets/images/gr-2.svg" class="img">
                             <div class="title">DATA</div>
                          </li>
                          <li class="text-center">
                             <img src="assets/images/gr-3.svg" class="img">
                             <div class="title">AL</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="head">Platform</div>
                      <div class="para">Our core is an expansive data exchange, analysis and support environment that brings all users and features to new depths.</div>
                     </div>
                  </div>
                  <div class="row bigbox">
                    <div class="col-md-6">
                      <div class="box">
                        <ul class="d-flex">
                          <li class="text-center">
                             <img src="assets/images/gr-5.svg" class="img">
                          </li>
                          <li class="text-center dot-img1">
                             <img src="assets/images/gr-6.svg" class="img">
                             <div class="title">Infrastructure</div>
                          </li>
                          <li class="text-center dot-img1">
                             <img src="assets/images/gr-7.svg" class="img">
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="head">Features</div>
                      <div class="para">Configurable for all needs, these features enable key activities from administration, content and teaching tools.</div>
                     </div>
                  </div>
              </div>
            </section>
