.intro1Wrap {
    padding: 100px 0 182px 0;
    overflow: hidden;
    position: relative;
    z-index: 99;
    .h1_txt_80 {
        // width: 382px;
        height: 190px;
        font-family: Quicksand;
        font-size: 80px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }
    .p_txt_20 {
        width: 509px;
        height: 121px;
        font-family: Raleway;
        font-size: 20px;
        font-weight: normal;
        padding-top: 20px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.7px;
        text-align: left;
        color: #ffffff;
    }
}

svg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    animation-name: move-left;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.spacer {
    height: 100px;
    width: 100%;
}

@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }
    50% {
        left: -2000px;
        top: 200px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

.waves {
    padding-top: 116px;
}