          <!-- intro-section -->
          <section id="intro-wrap" class="intro1Wrap text-left text-white" >
              <div class="container">
                  <div class="row">
                      <div class="col-md-6 intro1LeftSection pb-5">
                      <div class="intro1ProductImage">
                        <img [src]="imagePath1" class="logo">
                      </div>
                      </div>
                      <div class="col-md-6 intro1RightSection">
                          <h1 class="h1_txt_80" [ngStyle]="fonth1">
                            {{title}}</h1>
                          <p class="p_txt_20">
                            {{para}}
                          </p>
                      </div>
                      <div class="col-md-12 text-center">

                      <a class="scroll-btn"><img src="assets/images/scroll_icon.png" ngx-scroll-to
                        [ngx-scroll-to-offset]="600"></a>
                      </div>
                  </div>
              </div>

              <div class="overlay">
               </div>

          </section>
          <!-- end::intro-section -->
