<!-- Section-2 -->
          <section  class="sect-2_wrap p-t-b-150" id="sect-2-wrap">
            <div  class="container">
                <div  class="row">
                    <div  animateonscroll="" animationname="animated fadeIn" class="col-md-6 ">
                        <h2 class="sect2-h2" [ngStyle]="sect2h2">
                        {{title}}</h2>
                        <p class="sect2-p" [ngStyle]="sect2p">
                          {{para}}
                        </p>
                        <p class="sect2-p" [ngStyle]="sect2p" *ngIf="this.router.url === '/Vision'">
                          {{para2}}
                        </p>
                        <p class="sect2-p"  [ngStyle]="sect2p" *ngIf="this.router.url === '/Vision'">
                          {{para3}}
                        </p>


                     </div>
                    <div  class="col-md-6">
                      <div class="img-box">
                        <img  alt="" class="img-responsive sect-img" [src]="imagePath1">
                      </div>
                      <div class="blur-image" [ngStyle]="blur_cls">
                        <img  alt="" class="img-responsive blur-img" [src]="imagePath2">
                      </div>
                      <div class="shadow_bk" [ngStyle]="displaynone">
                      </div>
                    </div>
                </div>
            </div>
          </section>
          <!-- Section-2 end-->
