
.width-inherit {
    width: inherit;
    }
  
    @media screen and (max-width: 414px) {
  

      .digital-school-transformation[_ngcontent-c1] {
          font-size: 30px;
      }
  
  
      .contact_hero[_ngcontent-c1] {
          width: 293.9px;
      }
  
      .section-1[_ngcontent-c1] {
          padding-top: 30px!important;
      }
  
      .main-head[_ngcontent-c1][_ngcontent-c1] {
          font-size: 30px;
      }
  
      .sub-head[_ngcontent-c1] {
          font-family: 'Raleway', serif;
          font-size: 15px;
      }
  
    }
  
  
  @media screen and (max-width: 375px) {
    .learning-checkpoints,.classroom-checkpoints,.assessment-checkpoints,.academic-checkpoints,.performance-checkpoints {
      font-size: x-small;
    }
   

    .main-head[_ngcontent-c1] {
        font-family: 'Quicksand', serif;
        font-size: 30px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #ffffff;
    }


    .sub-head[_ngcontent-c1] {
        font-family: 'Raleway', serif;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.7px;
        color: #ffffff;
    }


    .section-1[_ngcontent-c1] {
        padding-top: 30px;
    }
  
  }
  
  @media screen and (max-width: 768px) {
  .header-bg[_ngcontent-c1] {
 
    height: 93%;
}
  }

  @media screen and (max-width: 375px) {
  .contact_hero[_ngcontent-c1][_ngcontent-c1] {
    width: 199.9px;
}
  }

  @media only screen and (min-width: 400px) {
    .main-head {
      font-size: 28px;
    }
  }
  

  @media screen and (min-width: 768px) and (max-width: 1024px) {

  .header-bg[_ngcontent-c1] {
 
    height: 67%;
}
}

.write-to-us{

    font-family: 'Quicksand', serif;
    font-size: 45px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 1.35px;
    color: #212121;
}

.edufront-helps-you{
    font-family: 'Raleway', serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: 0.48px;
    text-align: left;
    color: #212121;
}

.section-1{

    padding-top: 100px;
  }

.main-head{

    font-family: 'Quicksand', serif;
    font-size: 60px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #ffffff;
}

.sub-head {
   
    font-family: 'Raleway', serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: #ffffff;
  }

.address-block {
    width: 444px;
    height: 145px;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 rgba(110, 110, 110, 0.1);
    background-color: #ffffff;
}

.address,.email,.phone {
    font-family: 'Quicksand', serif;    
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.75;
    letter-spacing: 0.6px;
    text-align: left;
    color: #212121;
}

.address-text,.email-text,.phone-text {
    font-family: 'Raleway', serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: 0.48px;
    text-align: left;
    color: #212121;
}

.email-block {

    width: 444px;
    height: 145px;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 rgba(154, 154, 154, 0.1);
    background-color: #fafafa;
}


.phone-block{

    width: 444px;
    height: 145px;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 rgba(76, 133, 154, 0.1);
    background-color: #ededed;
}

input{

    height: 61px;
  border-radius: 12px;
  border: solid 1px #cbcbcb;
  background-color: #ffffff;
  font-family: 'Raleway', serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.44;
  letter-spacing: 0.48px;
  text-align: left;
  color: #616161;
}

textarea{

    font-family: 'Raleway', serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.44;
    letter-spacing: 0.48px;
    text-align: left;
    color: #616161;
}

.btn-green {
    width: 224px;
    height: 50px;
    border-radius: 8px;
    background-color: #4bd89b;
    font-family: 'Quicksand', serif;    
    font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 0.42px;
  text-align: center;
  color: #ffffff;
}

.bg-grey{

    background-image: url(../../assets/images/bg_shape.svg);
    background-size: contain;

}

.header-bg{

    background-image: url(../../assets/images/green_background.png);
    background-size: cover;
    height: 133%;
}


.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}