
<section class="header-bg">

  <app-header></app-header>

  <section id="info" class="section-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
        <img src="../../assets/images/contacts_hero.png" alt="" class="contact_hero">
        </div>
        <div class="col-md-6">
          <div class="main-head">We would love
            to hear from you!.</div>
          <div class="sub-head">
            If you would like to discuss our product and solutions, please contact us and we will be happy to provide you with all the information you need. 

            </div>
        </div>
      </div>
    </div>

    <!-- <div class="d-flex justify-content-center pt-4">

          <div class="scroller"><span class="polygon-1"></span></div>

    </div> -->
<div class="col-md-12 text-center mt-5">

                      <a class="scroll-btn"><img src="assets/images/scroll_icon.png" ngx-scroll-to
                        [ngx-scroll-to-offset]="600"></a>
                      </div>
  </section>

</section>


<section class="py-5">

<div class="container">


<div class="write-to-us mb-3">  Write to us </div>

  <div class="row">

<div class="col-6">

  <p class="edufront-helps-you mb-5">Edufront helps you transform your organisation by creating and tailoring technological solutions and methods that best suit your unique educational needs. 

  </p>


  <div class="d-flex flex-column bd-highlight mb-3 bg-grey">

        <div class="p-3 bd-highlight address-block"> <img src="../../assets/images/location_icon.svg" alt="">

          <span class="address ml-3"> Address </span>

          <p class="address-text px-5 py-2">
            Hyatt Regency Delhi, Bikhaji Cama Place Ring Road, Delhi 110066
          </p>
          </div>

          <div class="p-3 bd-highlight email-block"> <img src="../../assets/images/email_icon.svg" alt="">

            <span class="email ml-3"> Email </span>

            <p class="email-text px-5 py-2">
              info@edufront.co.in
            </p>
            </div>


            <div class="p-3 bd-highlight phone-block"> <img src="../../assets/images/phone_icon.svg" alt="">

              <span class="phone ml-3"> Phone </span>

              <p class="phone-text px-5 py-2">
                1234-1234-1234
              </p>
              </div>

          </div>

</div>

<div class="col-6">
<div class="row mb-5">

<div class="col-6">
  <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="First name">
</div>

<div class="col-6">
  <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Last name">

</div>  
</div>

<div class="mb-5">
  <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
</div>


<div class="mb-5">
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Message"></textarea>

</div>


<div>
<button class="btn btn-grey text-center">Submit</button>

</div>

</div>



</div>
</div>


</section>


<app-footer></app-footer>