
   <section  class="sect-bck-img p-t-b-150 ">

              <div  class="container">
                  <h2 class="title">
                    {{title}}
                   </h2>
                   <p class="subtitle">
                    {{subtitle}}
                   </p>

                  <div class="row bigbox">
                    <div class="col-md-6">
                      <div class="box">
                             <img src="assets/images/bg-img-881.jpg" class="img-bx">

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="para">Students have affinities, growing at different rates depending on their own unique set of circumstances. Constraints such as class size, resource availability, teaching time and general complexity of information go to prevent a tailored approach to each student. These constraints are responsible for uneven results of education and many student’s potential not being realised.</div>
                      <div class="para">Thanks to Edufront, this constraint can now be broken. By drawing on data from all features, application and user habits, the AI core is capable of automated insight, independent action and serving as augmenting companion to users.</div>
                      <div class="para">This enables personalised mastery teaching independent of resources. By augmenting the effectiveness of all school and teaching activities, improvement is to be found across the board.</div>

                     </div>
                  </div>
              </div>
            </section>
