.p-t-b-150 {
    padding: 150px 0;
}

.sect-bck-img {
    text-align: center;
    float: left;
    width: 100%;
    height: 100%;
    background: url('../../../assets/images/bg-img-99.png') center center no-repeat;
    background-size: 100% 100%;
    padding: 180px 0 !important;
    .title {
        height: 56px;
        font-family: Quicksand;
        font-size: 45px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: 1.35px;
        text-align: center;
        color: #ffffff;
    }
    .subtitle {
        height: 89px;
        font-family: Raleway;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.6px;
        text-align: center;
        color: #ffffff;
        padding-top: 14px;
    }
    .bigbox {
        padding-top: 35px;
        display: flex;
        align-items: center;
        .box {
            box-shadow: 0px -10px 30px #6c757d;
            position: relative;
            right: 69%;
            .img-bx {
                width: auto;
                height: 540px;
            }
        }
        .para {
            font-family: Raleway;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.63;
            letter-spacing: 0.48px;
            text-align: left;
            color: #fff;
            padding-top: 15px;
        }
    }
}