.p-t-b-150 {
    padding: 150px 0;
}

.sect-complex {
    text-align: center;
    float: left;
    width: 100%;
    height: 100%;
    .title {
        height: 56px;
        font-family: Quicksand;
        font-size: 45px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: 1.35px;
        text-align: center;
        color: #00c4d2;
    }
    .subtitle {
        height: 89px;
        font-family: Raleway;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.6px;
        text-align: center;
        color: #212121;
        padding-top: 14px;
    }
    .img {
        width: 100%;
        height: 100%;
        float: left;
        padding-top: 60px;
    }
}