<div class="app-landing-wrap landing_wrap">
  <div id="landing_wrap">
    <div class="landing-gradient-blue">
      <!--=============== Header start ================-->

      <app-header></app-header>
     
      <!--=============== Header End ================-->

      <!-- ============ Main content start ============= -->
          <!-- intro-section -->
          <app-intro></app-intro>
          <!-- end::intro-section -->
          </div>
          <!-- Section-2 -->
            <app-section-info></app-section-info>
          <!-- Section-2 end-->

          <!-- Section-3 -->
            <section  class="sect-3-wrap p-t-b-150" id="sect-3-wrap">

              <div  class="container">
                <div class="sect-header-h2">
                  <h2>Personalised Education</h2>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="sect3-img">
                      <img src="./assets/images/img-2a.jpg" srcset="./assets/images/img-2b.jpg 2x,
                                  ./assets/images/img-2c.jpg 3x"  class="Screenshot_2019-10-01-Adobe-XD1">
                    </div>

                    <div class="sect3-p">

                      <p>
                        We believe that realising the full
                         potential of students involve the delivery of
                         personalised education.
                      </p>
                      <p>We focus over digitally transforming the quality and power
                      of teaching tools and methods to replicate well proven educational
                      outcome revolutions. Because we eliminate complexity at every turn
                      and find ways to let the student shine through; personalisation is
                       within your grasp.
                       </p>

                      </div>
                    </div>
                </div>
              </div>
            </section>
          <!-- Section-3 end-->

          <!-- Section-4 -->
            <section  class="sect-4-wrap p-t-b-150 pb-0" id="sect-4-wrap">
              <div  class="container">
                <div class="sect4-feature">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="info">
                        <p>Who are</p>
                        <div class="info-title">
                          <div class="info-title-green">We?</div>
                        </div>
                        <div class="img-grp-box">
                          <img  alt="" class="img-responsive blur-img" src="./assets/images/group-img1.svg">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="info">
                        <p>What are</p>
                        <div class="info-title">
                          <div class="info-title-yellow">our products?</div>
                        </div>
                        <div class="img-grp-box">
                          <img  alt="" class="img-responsive blur-img" src="./assets/images/group-img2.svg">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="info">
                        <p>What are</p>
                        <div class="info-title">
                          <div class="info-title-purple">our Solutions?</div>
                        </div>
                        <div class="img-grp-box">
                          <img  alt="" class="img-responsive blur-img" src="./assets/images/group-img3.svg">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          <!-- Section-4 end-->

          <!-- Footer -->
            <app-footer></app-footer>
          <!-- Footer End-->


      <!-- ============ Main content End ============= -->

  </div>
</div>

