
        #home-header {
            // position: fixed;
            width: 100%;
            background: 0 0;
            top: 0;
            left: 0;
            right: 0;
            padding: 22px 0;
            transition: all .5s ease-in-out;
            -webkit-transition: .5s ease-in-out;
            z-index: 9999;
            font-size: 16px;
            .container {
                max-width: 1366px;
                height: auto;
                .mobile_menu {
                    height: 60px;
                    align-items: center;
                    a {
                        color: #fff;
                        text-decoration: none;
                        background-color: transparent;
                        -webkit-text-decoration-skip: objects;
                        .logo {
                            width: 162px;
                            height: 39.8px;
                            object-fit: contain;
                        }
                    }
                }
                .nav-link {
                    font-family: Quicksand;
                    font-size: 18px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.28;
                    letter-spacing: -0.09px;
                    text-align: right;
                    color: #ffffff;
                }
            }
            .header-fixed {
                position: fixed!important;
                left: 0;
                right: 0;
                top: 0;
                padding: 0!important;
                box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
                -webkit-animation: .6s forwards slideDown;
                animation: .6s forwards slideDown;
                transition: all .5s ease-in-out!important;
            }
        }

.landing-gradient-blue {
    // width: 1366px;
    height: auto;
    background-image: url(../../assets/images/bg-home-intro.png);
    background-size: cover;
}

.home{

    margin-bottom: 2px;
    border-bottom: 1px solid white;
    
}

.p-t-b-150 {
    padding: 150px 0;
}

// section 3
.sect-3-wrap {
    text-align: center;
    // height: 1261.8px;
    background-color: #f4f9fd;
    position: relative;
    .sect-header-h2 {
        height: 56px;
        font-family: Quicksand;
        font-size: 45px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: 1.35px;
        text-align: center;
        color: #568ce0;
        z-index: 9;
        position: relative;
    }
    .sect3-img {
        height: 496px;
        bottom: 40px;
        z-index: 9;
        left: 0;
    }
    .sect3-p {
        height: 213px;
        font-family: Raleway;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.6px;
        text-align: center;
        color: #212121;
        padding-top: 127px;
        p {}
    }
}

// section 4
.sect-4-wrap {
    text-align: center;
    // height: 1261.8px;
    background-color: #fff;
    .sect4-feature {
        .info {
            text-align: center;
            p {
                height: 24px;
                font-family: Raleway;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.2;
                letter-spacing: -0.1px;
                text-align: center;
                color: #212121;
            }
            .info-title {
                height: 40px;
                font-family: Quicksand;
                font-size: 32px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: -0.16px;
                text-align: center;
                .info-title-green {
                    color: #00dce8;
                }
                .info-title-yellow {
                    color: #f2b269;
                }
                .info-title-purple {
                    color: #8787f6;
                }
            }
            .img-grp-box {
                padding-top: 39px;
                img {
                    width: 221.1px;
                    height: 242.8px;
                    object-fit: contain;
                }
            }
        }
    }
}