.landing-gradient-blue {
    // width: 1366px;
    height: auto;
    background-image: linear-gradient(7deg, #7eb6f5 27%, #568ce0 94%);
}

.p-t-b-150 {
    padding: 150px 0;
}

// section 3
.sect-3-wrap {
    text-align: center;
    // height: 1261.8px;
    background-color: #f4f9fd;
    position: relative;
    .sect-header-h2 {
        height: 56px;
        font-family: Quicksand;
        font-size: 45px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: 1.35px;
        text-align: center;
        color: #568ce0;
        z-index: 9;
        position: relative;
    }
    .sect3-img {
        height: 496px;
        bottom: 40px;
        z-index: 9;
        left: 0;
    }
    .sect3-p {
        height: 213px;
        font-family: Raleway;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.6px;
        text-align: center;
        color: #212121;
        padding-top: 127px;
        p {}
    }
}

// section 4
.sect-4-wrap {
    text-align: center;
    // height: 1261.8px;
    background-color: #fff;
    .sect4-feature {
        .info {
            text-align: center;
            p {
                height: 24px;
                font-family: Raleway;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.2;
                letter-spacing: -0.1px;
                text-align: center;
                color: #212121;
            }
            .info-title {
                height: 40px;
                font-family: Quicksand;
                font-size: 32px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: -0.16px;
                text-align: center;
                .info-title-green {
                    color: #00dce8;
                }
                .info-title-yellow {
                    color: #f2b269;
                }
                .info-title-purple {
                    color: #8787f6;
                }
            }
            .img-grp-box {
                padding-top: 39px;
                img {
                    width: 221.1px;
                    height: 242.8px;
                    object-fit: contain;
                }
            }
        }
    }
}