       

  @media screen and (max-width: 320px) {
  
    
    .copyrights[_ngcontent-c3] {
        font-size: 14px!important;
       
    }


    .footer-menu-links[_ngcontent-c3] {
        font-size: 14px;
        
    }

}

       .footer-logo {
        width: 165px;
        height: 39.8px;
       }
       
      .copyrights{
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: -0.09px;
        color: #212121;
      }

      .footer-menu-links {
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: -0.09px;
        color: #212121;
      }

       .footer {
            width: 100%;
            height: 329.6px;
            background: url('../../../assets/images/bg-img-footer.png') center center no-repeat;
            background-size: 100% 100%;
            padding: 143px 0;
            float: left;
            .container {
                max-width: 1366px;
                height: auto;
                position: relative;
                .footer-bx {
                    position: absolute;
                    top: 26px;
                    left: 0;
                    .footer-box-img {
                        margin-bottom: 13px;
                        width: 165px;
                        height: 39.8px;
                        object-fit: contain;
                        img {
                            width: 165px;
                            height: 39.8px;
                            object-fit: contain;
                        }
                    }
                    .footer-link {
                        text-decoration: none!important;
                        display: inline-block;
                        list-style: none;
                        p {
                            height: 21px;
                            font-family: 'Raleway';
                            font-size: 18px;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.17;
                            letter-spacing: -0.09px;
                            text-align: right;
                            color: #212121;
                        }
                    }
                }
                .footer-bx-link {
                    text-decoration: none!important;
                    position: absolute;
                    top: 81px;
                    right: 0;
                    ul {                            
                        text-decoration: none!important;
                        display: block;
                    }
                    .footer-link {
                        text-decoration: none!important;
                        display: inline-block;
                        list-style: none;
                        padding-left: 15px;
                        a {
                            text-decoration: none!important;
                            height: 21px;
                            font-family: Raleway;
                            font-size: 18px;
                            font-weight: 500;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.17;
                            letter-spacing: -0.09px;
                            text-align: right;
                            color: #212121;
                            margin-bottom: 0;
                            cursor: pointer;
                            margin-left: 10px;
                        }


                        a:active {
                            text-decoration: none!important;
                            border: none!important;
                          } 
                    }
                }
            }
        }