<div class="footer">

  <div class="container">
    <div class="footer-bx">
      <div class="footer-box-img">
        <a [routerLink]="['/Home']">  <img  alt="" class="img-responsive blur-img" src="./assets/images/footer_logo.png"> </a>
      </div>
     <div class="footer-link">
      <p>Copyright © Edufront. All rights reserved.</p>
     </div>
    </div>
    <div class="footer-bx-link">
      <ul>
        <li class="footer-link" [routerLink]="['/Vision']"><a>Vision</a></li>
        <li class="footer-link" [routerLink]="['/Products']"><a>Products</a></li>
        <li class="footer-link" [routerLink]="['/Solutions']"><a>Solutions</a></li>
        <li class="footer-link" ><p>Contact</p></li>
      </ul>
    </div>
  </div>
</div>
